[submodule "lab3/pychess"]
	path = lab3/pychess
	url = https://github.com/pychess/pychess
[submodule "lab3/cloudcmd"]
	path = lab3/cloudcmd
	url = https://github.com/coderaiser/cloudcmd
[submodule "lab3/590MakefileLab"]
	path = lab3/590MakefileLab
	url = https://github.com/rz447csuci/590MakefileLab/
